@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
}
label {
  font-weight: 300;
  font-size: 20px;
}
input {
  height: 20px;
  border-radius: 5px;
}
button {
  border-radius: 5px;
  margin: 20px;
  padding: 8px;
  width: 200px;
}

.breadCrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/background.jpg");
  font-size: 3rem;
  font-family: "Roboto";
  color: white;
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
